<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title == "Jack Murrow" %}
      Jack Murrow
    {% elsif page.title %}
      {{ page.title | escape }} | Jack Murrow
    {% else %}
      Jack Murrow
    {% endif %}
  </title>

  <meta
    name="description"
    content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">

  <link rel="canonical" href="{{ page.url | absolute_url }}">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Jack Murrow">
  <meta
    property="og:title"
    content="{% if page.title == 'Jack Murrow' %}Jack Murrow{% elsif page.title %}{{ page.title | escape }} | Jack Murrow{% else %}Jack Murrow{% endif %}">
  <meta
    property="og:description"
    content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:image" content="{{ '/assets/portfoliopic.jpg' | absolute_url }}">

  <meta name="twitter:card" content="summary">
  <meta
    name="twitter:title"
    content="{% if page.title == 'Jack Murrow' %}Jack Murrow{% elsif page.title %}{{ page.title | escape }} | Jack Murrow{% else %}Jack Murrow{% endif %}">
  <meta
    name="twitter:description"
    content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="manifest" href="/assets/site.webmanifest">
</head>
